bin/
obj/
*.user
*.userosscache
*.sln.doccache
.vs/
.idea/
.vscode/
appsettings.Development.json
wwwroot/uploads/*
!wwwroot/uploads/.gitkeep

wwwroot/ffmpeg/
wwwroot/ffmpeg_temp/
wwwroot/ffmpeg.zip
wwwroot/ffmpeg_new.zip
